# üè• Healthcare Insurance Cost Analysis  
## üìò Notebook 01 ‚Äì Data Loading and Initial Inspection
|Field|Description|  
|-----|-----------|
|**Author:** |Robert Steven Elliott|  
|**Course:** |Code Institute ‚Äì Data Analytics with AI Bootcamp|  
|**Project Type:** |Individual Formative Project|  
|**Date:** | October 2025|  

---

### **Objectives**
- Load the healthcare insurance dataset from Kaggle.  
- Inspect structure, datatypes, and completeness.  
- Verify working directory and environment setup.

### **Inputs**
- `data/raw/insurance.csv`  

### **Outputs**
- Printed dataset info and summary statistics.  

### **Additional Comments**
Run this notebook top-down only. Do not edit `data/raw` files directly.

---

# Change working directory

In [1]:
import os
current_dir = os.getcwd()
current_dir
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [2]:
current_dir = os.getcwd()
current_dir

'/home/robert/Projects/health-insurance-cost-analysis'

---

# Import Require Libraries

In [3]:
import pandas as pd

---

# Load Dataset

In [4]:
data_path = "data/raw/insurance.csv"

try:
    df = pd.read_csv(data_path)
    print("‚úÖ Dataset loaded successfully!")
except FileNotFoundError:
    print("‚ùå Dataset not found. Please download insurance.csv from Kaggle to data/raw/")
    raise

‚úÖ Dataset loaded successfully!

---

# Inspect Dataset Structure

In [5]:
print("\nüìã Dataset Info:")
print(df.info())

üìã Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB
None

In [6]:
print("\nüî¢ Descriptive Statistics:")
display(df.describe())

üî¢ Descriptive Statistics:

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [7]:
print("\nüîç First 5 rows:")
display(df.head())

üîç First 5 rows:

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520