# üè• Healthcare Insurance Cost Analysis  
## üß© Notebook 01 ‚Äì Data Cleaning and Transformation  
| Field | Description |
|-------|-------------|
|**Author:** | Robert Steven Elliott  |
|**Course:** | Code Institute ‚Äì Data Analytics with AI Bootcamp  |
|**Project Type:** | Individual Formative Project  |
|**Date:** | October 2025  |

---

## **Objectives**
- Clean the raw healthcare dataset.
- Handle missing values and remove duplicates.
- Encode categorical variables for analysis.
- Prepare the dataset for feature engineering and visualisation.

## **Inputs**
- `data/raw/insurance.csv`

## **Outputs**
- `data/processed/insurance_clean.csv`  
- Cleaned, encoded DataFrame ready for analysis.

## **Additional Comments**
Ensure that Notebook 01 was executed successfully before running this notebook.
All cleaning steps must be reproducible and clearly documented.

---

# Change Working Directory

In [1]:
import sys
from pathlib import Path
PROJECT_ROOT = Path.cwd().parent
sys.path.append(str(PROJECT_ROOT))
print("‚úÖ Working directory set to project root:", PROJECT_ROOT)

‚úÖ Working directory set to project root: /home/robert/Projects/health-insurance-cost-analysis

---

# Import Dependencies

In [2]:
import pandas as pd
import numpy as np
from utils.data_handler import load_data, data_overview

---

# Load Dataset

In [3]:
input_file = PROJECT_ROOT / "data" / "raw" / "insurance.csv"
df = load_data(input_file)

---

# Inspect Dataset

In [4]:
data_overview(df)

DataFrame Shape: (1337, 7)

Data Types:
 age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

Missing Values:
 age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 1337 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1337 non-null   int64
 1   sex       1337 non-null   object
 2   bmi       1337 non-null   float64
 3   children  1337 non-null   int64
 4   smoker    1337 non-null   object
 5   region    1337 non-null   object
 6   charges   1337 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 83.6+ KB

üìã Dataset Info:
 None

Statistical Summary:
                 age   sex          bmi     children smoker     region  \
count   1337.000000  1337  1337.000000  1337.000000   1337       1337
unique          NaN     2          NaN          NaN      2          4
top             NaN  male          NaN          NaN     no  southeast
freq            NaN   675          NaN          NaN   1063        364
mean      39.222139   NaN    30.663452     1.095737    NaN        NaN
std       14.044333   NaN     6.100468     1.205571    NaN        NaN
min       18.000000   NaN    15.960000     0.000000    NaN        NaN
25%       27.000000   NaN    26.290000     0.000000    NaN        NaN
50%       39.000000   NaN    30.400000     1.000000    NaN        NaN
75%       51.000000   NaN    34.700000     2.000000    NaN        NaN
max       64.000000   NaN    53.130000     5.000000    NaN        NaN

             charges
count    1337.000000
unique           NaN
top              NaN
freq             NaN
mean    13279.121487
std     12110.359656
min      1121.873900
25%      4746.344000
50%      9386.161300
75%     16657.717450
max     63770.428010

DataFrame Head:
    age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

---

# Handle Missing Values

There are no missing values so this is not required.

---

# Remove Duplicates

In [5]:
before = df.shape[0]
df.drop_duplicates(inplace=True)
after = df.shape[0]
print(f"‚úÖ Removed {before - after} duplicate rows.")

‚úÖ Removed 0 duplicate rows.

Duplicate entries were checked and removed from the dataset to ensure data quality and prevent bias in descriptive and correlation analyses.  
This step improves the dataset‚Äôs integrity before further encoding and transformation.

---

# Encode Categorical Variables

In [6]:
categorical_columns = ['sex', 'smoker', 'region']
df[categorical_columns] = df[categorical_columns].astype('category')

print("‚úÖ All categorical variables set to 'category' dtype for readability.")
display(df[categorical_columns].head())

‚úÖ All categorical variables set to 'category' dtype for readability.

      sex smoker     region
0  female    yes  southwest
1    male     no  southeast
2    male     no  southeast
3    male     no  northwest
4    male     no  northwest

All categorical variables (`sex`, `smoker`, and `region`) were retained in their original text format  
and converted to Pandas `category` dtype for clarity and consistency.  
This ensures that visualisations remain easy to interpret without unnecessary numeric encoding.

---

# Basic integrity checks

In [7]:

print(f"‚úÖ DataFrame shape: {df.shape}")
print("‚úÖ No nulls remaining:", df.isnull().sum().sum() == 0)
print("‚úÖ Numeric columns:", df.select_dtypes(include=np.number).columns.tolist())
print("‚úÖ Categorical columns:", df.select_dtypes(include='category').columns.tolist())

‚úÖ DataFrame shape: (1337, 7)
‚úÖ No nulls remaining: True
‚úÖ Numeric columns: ['age', 'bmi', 'children', 'charges']
‚úÖ Categorical columns: ['sex', 'smoker', 'region']

---

# Save Cleaned Dataset

In [8]:
output_path = PROJECT_ROOT / "data" / "processed" / "insurance_clean.csv"
df.to_csv(output_path, index=False)
print(f"üìÅ Cleaned dataset saved to: {output_path}")

üìÅ Cleaned dataset saved to: /home/robert/Projects/health-insurance-cost-analysis/data/processed/insurance_clean.csv